@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal; font-style: normal;
}

/* base */
*{ 
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Noto Sans KR', "맑은 고딕", "Apple SD Gothic Neo ", sans-serif;
    color: #333; font-size: 16px; 
}
li{ list-style: none; }
a{ text-decoration: none; }
img{ display: block; }
button{ cursor: pointer; }
fieldset{ border: none; }
.away{ position: absolute; left: -999em; } 
p{ line-height: 1.5; }

/* panel */
.panel{
    position: fixed; top: 0; right: -100%; z-index: 6000; 
    width: 100%; height: 100%; 
    overflow-y: auto; 
    background-color: #fff;
    transition: right 0.6s;
}
.panel.active{ right: 0; }
.panel .p_top h1{ margin: 0 16px; border-bottom: 2px solid #333; }
.panel .p_top h1 > img{ width: 60%; padding: 16px 0; }

.panel_btn, .panel_btn span {
    display : inline-block;
    transition : all .4s;
}
.panel_btn {
    position : relative; z-index: 8000; 
    width : 2rem; height : 1.5rem; margin-left: 1rem;
}
.panel_btn span {
    position : absolute; left : 0;
    width : 2rem; height : 2.5px;
    background-color : #333;
    border-radius : 4px;
}
.panel_btn span:nth-child(1){ top : 0; }
.panel_btn span:nth-child(2){ top : 0.65rem; }
.panel_btn span:nth-child(3){ bottom : 0; }
.panel_btn.active{ 
    position: absolute; top: 1rem; right: 16px;
    transition: .4s; 
}
.panel_btn.active span:nth-child(1){
    -webkit-transform : translateY(0.65rem) rotate(-45deg);
    transform : translateY(0.65rem) rotate(-45deg);
}
.panel_btn.active span:nth-child(2){ opacity : 0; }
.panel_btn.active span:nth-child(3){
    -webkit-transform : translateY(-0.65rem) rotate(45deg);
    transform : translateY(-0.65rem) rotate(45deg);
}

.gnb{ width: 100%; }
.gnb .main_nav{ 
    position: relative; 
    display: flex; height: 3.5rem; margin: 0 16px; 
    border-bottom: 1px solid #ccc; line-height: 3.5rem;
    font-size: 1.125rem; color: #333; font-weight: 700;
} 
.panel .main_nav::after{
    content: '';
    position: absolute; top: 0; bottom: 0; right: 16px; 
    width: 1.5rem; margin: auto 0; 
    background-image: url(../images/common/bottom_more.png); background-repeat: no-repeat; background-size: contain; background-position: center center;
    transition: 0.3s ease-out;
}
.gnb .main_nav.active{ color: #f29031; }
.gnb .main_nav.active::after{ transform: rotate(180deg); }

.gnb .sub_nav{
    display: none; 
    width: 100%; padding: 0 16px; 
}
.gnb .sub_nav li{ width: 100%; height: 2.5rem; line-height: 2.5rem; }
.gnb .sub_nav a{
    display: block; width: 100%; padding: 0 16px; 
    background-color: #ededed; font-size: 1rem;
}
.gnb .p_bottom{
    position: relative; width: 100%; 
}
.panel .p_bottom { 
    position: absolute; top: calc(100% - 3rem); left: 0; right: 0;
    display: flex; justify-content: space-between; 
    width: 60%; margin: 0 auto;
}
.panel .p_bottom li { position: relative; }
.panel .p_bottom li::after{
    content: '';
    position: absolute; top: 0.475rem; right: -0.75rem; margin: auto 0;
    width: 1px; height: 0.75rem; background-color: #333;
}
.panel .p_bottom li:last-child::after{ display: none; }




/* body_wrap */
.body_wrap{
    position: relative; 
    width: 100%; overflow: hidden;
}

/* header */
header{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 3.75rem; padding: 0 16px;
}
header h1 img{ height: 2rem; }
header .icon_wrap{ display: flex; }
header .icon_wrap img { height: 1.75rem; margin-left: 8px; }

/* footer */
footer{
    width: 100%; height: 100%;
    background-color: #ededed;
}
footer h1{ padding: 16px 0; margin-bottom: 1rem; }
footer h1 > img{ height: 3rem; padding: 0 16px; margin: 0 auto; }
footer .footer_icon_wrap{ 
    display: flex; justify-content: space-between;
    width: 100%; padding: 0 16px; margin-bottom: 16px;
}
.footer_icon_wrap img{ height: 3.125rem; }
.footer_icon_wrap span{ display: block; width: 100%; text-align: center; }
.family_site button{
    display: flex; justify-content: space-between;
    width: calc(100% - 32px); margin: 0 16px; padding: 8px 16px;
    border: 1px solid #ccc; background-color: #fff;
}
.family_site ul{
    display: none;
    width: calc(100% - 32px); margin: 0 16px; padding: 8px 16px; 
    background-color: #fff; border: 1px solid #ccc; border-top: none;
}
.family_site li > a{ display: block; padding: 4px 8px 4px 0; }
.family_site button.active .family_icon{ transform: rotate(180deg); }
footer .f_nav{ 
    display: flex; justify-content: space-between;
    width: 100%; margin: 16px 0; padding: 0 16px;
}
footer .f_nav a{ 
    display: block; width: 100%; height: 100%;
}
footer > p{
    width: 100%; padding: 0 16px 24px;
    font-size: 0.875rem;
}





/* iphone6/7/8 + android */
@media screen and (max-width: 375px) {
    * { font-size: 14px; }
}
/* iphone5 + SE */
@media screen and (max-width: 320px) {
    * { font-size: 12px; }
}